---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="No Fees">
          Enjoy seamless transactions without any fees. Candle removes barriers, enabling cost-effective blockchain adoption.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Highly Scalable">
         Candle's infrastructure is built for speed and scalability, handling high transaction volumes effortlessly.
        </Feature>
        <Feature icon="mdi:looks" title="Democratic Governance">
          Participate in a truly decentralized ecosystem with a governance model designed for fairness and equality.
        </Feature>
        <Feature icon="mdi:eslint" title="Future-Proof Technology">
          Candle uses cutting-edge innovations to remain scalable, efficient, and adaptable for future applications.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Secure and Transparent">
          Built with trust and transparency at its core, Candle ensures that your transactions are safe and verifiable
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Inclusive Access for All</h2>
    <p class="text-2xl">
      Candle is designed to provide equal access to blockchain technologies, ensuring a user-friendly experience for all participants.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="2" title="Active" sub="Users" />
        <Counter count="0" title="Fees" sub="On Transactions" />
        <Counter count="100%" title="Decentralized" sub="Governance" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
